* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #363636;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Roboto Slab', serif;*/
  color: #313131;
  font-weight: 400;
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}

p + p {
  margin-top: 2em;
}

a {
  color: #3684C7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
