.Footer {
    background-color: #3A3A3A;
    padding: 80px 0;
}

.Footer-logo {
    position: relative;
    float: left;
    margin-top: 10px;
}

.Footer-logo img {
    float: left;
    margin-top: -10px;
}

.Footer-logo p {
    font-family: "Roboto Slab", "Times New Roman", serif;
    color: #9A9A9A;
    font-size: 1em;
    font-weight: 700;
    margin-left: 10px;
    display: inline;
}

.Footer-logo p span {
    font-weight: 300;
}

.Footer-legal p {
    float: right;
    margin-top: 0;
    color: #9A9A9A;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 0.75em;
    font-weight: 300;
}

.Footer-legal p span {
    color: #c7c7c7;
    font-weight: 500;
}