.Footer {
    background-color: #3A3A3A;
    padding: 50px 0 50px 0;
}

.Footer-logo h1 {
    font-family: "Roboto Slab", "Times New Roman", serif;
    color: whitesmoke;
    font-size: 1.6em;
    font-weight: 300;
}

.Footer-logo h1 span {
    font-weight: 100;
}
