.Overlay {
  background-color: rgba(225,225,225,0.8);
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.Overlay-tabPanel {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  padding: 2em;
  background-color: #fff;
  border: 4px solid #cce9e7;
  border-radius: 4px;
}

.Overlay-searchInput {
  margin-bottom: 2em;
}

.Overlay-searchResults {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  padding-right: 2em;
}

.Overlay-searchResults .result + .result {
  margin-top: 0.875em;
}

.Overlay-searchResults .exerpt {
  float: left;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Overlay-searchResults .page {
  float: right;
}

.Overlay-searchResults .keyword {
  background-color: #d6ecd3
}

.Overlay-tabs {
  position: absolute;
  top: 3.5em; /* make room for the close button */
  right: 0;
  width: 2.625em; /* from Overlay-tab height * font-size */
  transform: translateX(100%);
}

.Overlay-tab {
  width: 10em; /* width needs to be the same for each tab */
  height: 3em; /* height needs to be the same for each tab */
  line-height: 3em; /* should match height */
  margin-bottom: 7em; /* width - height */
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #389BA8;
  cursor: pointer;
  font-size: 0.875em;
  text-align: center;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: 0 0;
  transition: color 200ms ease, background-color 200ms ease;
}

.Overlay-tab:hover, .Overlay-tab.-active {
  background-color: #cce9e7;
  color: #1BA5C9;
}

.Overlay-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.1em;
  height: 2.1em;
  font-size: 1.25em;
  line-height: 2.1em;
  text-align: center;
  transform: translateX(2.1em);
}
